numpy
psutil
torch
sentence-transformers==4.1.0
pandas
openai==0.28
python-dotenv
pydantic
seaborn
einops # For running nomic-ai/nomic-embed-text-v2-moe
tabulate # To convert pandas dataframe to markdown table
